/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600");
/* General styles */
.dashboard-main {
  font-family: Poppins;
    margin: 0;
    padding: 0;
    display: flex;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1128%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M139.04 -35.79L260.29 34.21L260.29 174.21L139.04 244.21L17.79 174.21L17.79 34.21zM260.29 594.21L381.53 664.21L381.53 804.21L260.29 874.21L139.04 804.21L139.04 664.21zM624.03 384.21L745.27 454.21L745.27 594.21L624.03 664.21L502.78 594.21L502.78 454.21zM866.52 384.21L987.77 454.21L987.77 594.21L866.52 664.21L745.27 594.21L745.27 454.21zM1109.02 -35.79L1230.26 34.21L1230.26 174.21L1109.02 244.21L987.77 174.21L987.77 34.21zM1230.26 594.21L1351.51 664.21L1351.51 804.21L1230.26 874.21L1109.02 804.21L1109.02 664.21zM1472.76 174.21L1594 244.21L1594 384.21L1472.76 454.21L1351.51 384.21L1351.51 244.21zM1472.76 594.21L1594 664.21L1594 804.21L1472.76 874.21L1351.51 804.21L1351.51 664.21z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M125.04 -35.79 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM246.29 34.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM246.29 174.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM125.04 244.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM3.79 174.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM3.79 34.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM246.29 594.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM367.53 664.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM367.53 804.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM246.29 874.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM125.04 804.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM125.04 664.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM610.03 384.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM731.27 454.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM731.27 594.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM610.03 664.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM488.78 594.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM488.78 454.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM852.52 384.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM973.77 454.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM973.77 594.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM852.52 664.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1095.02 -35.79 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1216.26 34.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1216.26 174.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1095.02 244.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM973.77 174.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM973.77 34.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1216.26 594.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1337.51 664.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1337.51 804.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1216.26 874.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1095.02 804.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1095.02 664.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1458.76 174.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1580 244.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1580 384.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1458.76 454.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1337.51 384.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1337.51 244.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1458.76 594.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1580 664.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1580 804.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0zM1458.76 874.21 a14 14 0 1 0 28 0 a14 14 0 1 0 -28 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M29.84 -41.11L72.28 -16.61L72.28 32.39L29.84 56.89L-12.6 32.39L-12.6 -16.61zM29.84 105.89L72.28 130.39L72.28 179.39L29.84 203.89L-12.6 179.39L-12.6 130.39zM72.28 179.39L114.71 203.89L114.71 252.89L72.28 277.39L29.84 252.89L29.84 203.89zM72.28 326.39L114.71 350.89L114.71 399.89L72.28 424.39L29.84 399.89L29.84 350.89zM29.84 399.89L72.28 424.39L72.28 473.39L29.84 497.89L-12.6 473.39L-12.6 424.39zM72.28 473.39L114.71 497.89L114.71 546.89L72.28 571.39L29.84 546.89L29.84 497.89zM157.15 179.39L199.59 203.89L199.59 252.89L157.15 277.39L114.71 252.89L114.71 203.89zM157.15 326.39L199.59 350.89L199.59 399.89L157.15 424.39L114.71 399.89L114.71 350.89zM242.02 32.39L284.46 56.89L284.46 105.89L242.02 130.39L199.59 105.89L199.59 56.89zM199.59 105.89L242.02 130.39L242.02 179.39L199.59 203.89L157.15 179.39L157.15 130.39zM242.02 179.39L284.46 203.89L284.46 252.89L242.02 277.39L199.59 252.89L199.59 203.89zM284.46 -41.11L326.9 -16.61L326.9 32.39L284.46 56.89L242.02 32.39L242.02 -16.61zM284.46 105.89L326.9 130.39L326.9 179.39L284.46 203.89L242.02 179.39L242.02 130.39zM326.9 179.39L369.33 203.89L369.33 252.89L326.9 277.39L284.46 252.89L284.46 203.89zM326.9 326.39L369.33 350.89L369.33 399.89L326.9 424.39L284.46 399.89L284.46 350.89zM284.46 399.89L326.9 424.39L326.9 473.39L284.46 497.89L242.02 473.39L242.02 424.39zM369.33 -41.11L411.77 -16.61L411.77 32.39L369.33 56.89L326.9 32.39L326.9 -16.61zM411.77 32.39L454.2 56.89L454.2 105.89L411.77 130.39L369.33 105.89L369.33 56.89zM369.33 105.89L411.77 130.39L411.77 179.39L369.33 203.89L326.9 179.39L326.9 130.39zM496.64 179.39L539.08 203.89L539.08 252.89L496.64 277.39L454.2 252.89L454.2 203.89zM454.2 252.89L496.64 277.39L496.64 326.39L454.2 350.89L411.77 326.39L411.77 277.39zM496.64 326.39L539.08 350.89L539.08 399.89L496.64 424.39L454.2 399.89L454.2 350.89zM581.51 32.39L623.95 56.89L623.95 105.89L581.51 130.39L539.08 105.89L539.08 56.89zM539.08 105.89L581.51 130.39L581.51 179.39L539.08 203.89L496.64 179.39L496.64 130.39zM581.51 179.39L623.95 203.89L623.95 252.89L581.51 277.39L539.08 252.89L539.08 203.89zM539.08 252.89L581.51 277.39L581.51 326.39L539.08 350.89L496.64 326.39L496.64 277.39zM539.08 399.89L581.51 424.39L581.51 473.39L539.08 497.89L496.64 473.39L496.64 424.39zM666.39 32.39L708.82 56.89L708.82 105.89L666.39 130.39L623.95 105.89L623.95 56.89zM623.95 252.89L666.39 277.39L666.39 326.39L623.95 350.89L581.51 326.39L581.51 277.39zM623.95 399.89L666.39 424.39L666.39 473.39L623.95 497.89L581.51 473.39L581.51 424.39zM623.95 546.89L666.39 571.39L666.39 620.39L623.95 644.89L581.51 620.39L581.51 571.39zM751.26 179.39L793.7 203.89L793.7 252.89L751.26 277.39L708.82 252.89L708.82 203.89zM708.82 252.89L751.26 277.39L751.26 326.39L708.82 350.89L666.39 326.39L666.39 277.39zM751.26 326.39L793.7 350.89L793.7 399.89L751.26 424.39L708.82 399.89L708.82 350.89zM708.82 546.89L751.26 571.39L751.26 620.39L708.82 644.89L666.39 620.39L666.39 571.39zM793.7 105.89L836.13 130.39L836.13 179.39L793.7 203.89L751.26 179.39L751.26 130.39zM836.13 179.39L878.57 203.89L878.57 252.89L836.13 277.39L793.7 252.89L793.7 203.89zM793.7 252.89L836.13 277.39L836.13 326.39L793.7 350.89L751.26 326.39L751.26 277.39zM836.13 326.39L878.57 350.89L878.57 399.89L836.13 424.39L793.7 399.89L793.7 350.89zM836.13 473.39L878.57 497.89L878.57 546.89L836.13 571.39L793.7 546.89L793.7 497.89zM878.57 252.89L921.01 277.39L921.01 326.39L878.57 350.89L836.13 326.39L836.13 277.39zM921.01 326.39L963.44 350.89L963.44 399.89L921.01 424.39L878.57 399.89L878.57 350.89zM921.01 473.39L963.44 497.89L963.44 546.89L921.01 571.39L878.57 546.89L878.57 497.89zM878.57 546.89L921.01 571.39L921.01 620.39L878.57 644.89L836.13 620.39L836.13 571.39zM963.44 399.89L1005.88 424.39L1005.88 473.39L963.44 497.89L921.01 473.39L921.01 424.39zM1005.88 473.39L1048.31 497.89L1048.31 546.89L1005.88 571.39L963.44 546.89L963.44 497.89zM963.44 546.89L1005.88 571.39L1005.88 620.39L963.44 644.89L921.01 620.39L921.01 571.39zM1048.31 -41.11L1090.75 -16.61L1090.75 32.39L1048.31 56.89L1005.88 32.39L1005.88 -16.61zM1090.75 32.39L1133.19 56.89L1133.19 105.89L1090.75 130.39L1048.31 105.89L1048.31 56.89zM1090.75 179.39L1133.19 203.89L1133.19 252.89L1090.75 277.39L1048.31 252.89L1048.31 203.89zM1048.31 252.89L1090.75 277.39L1090.75 326.39L1048.31 350.89L1005.88 326.39L1005.88 277.39zM1090.75 326.39L1133.19 350.89L1133.19 399.89L1090.75 424.39L1048.31 399.89L1048.31 350.89zM1175.62 326.39L1218.06 350.89L1218.06 399.89L1175.62 424.39L1133.19 399.89L1133.19 350.89zM1175.62 473.39L1218.06 497.89L1218.06 546.89L1175.62 571.39L1133.19 546.89L1133.19 497.89zM1260.5 32.39L1302.93 56.89L1302.93 105.89L1260.5 130.39L1218.06 105.89L1218.06 56.89zM1218.06 252.89L1260.5 277.39L1260.5 326.39L1218.06 350.89L1175.62 326.39L1175.62 277.39zM1345.37 473.39L1387.81 497.89L1387.81 546.89L1345.37 571.39L1302.93 546.89L1302.93 497.89zM1387.81 -41.11L1430.24 -16.61L1430.24 32.39L1387.81 56.89L1345.37 32.39L1345.37 -16.61zM1430.24 179.39L1472.68 203.89L1472.68 252.89L1430.24 277.39L1387.81 252.89L1387.81 203.89zM1387.81 252.89L1430.24 277.39L1430.24 326.39L1387.81 350.89L1345.37 326.39L1345.37 277.39zM1430.24 326.39L1472.68 350.89L1472.68 399.89L1430.24 424.39L1387.81 399.89L1387.81 350.89zM1387.81 399.89L1430.24 424.39L1430.24 473.39L1387.81 497.89L1345.37 473.39L1345.37 424.39z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1128'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");  
  background-repeat: no-repeat;
  background-size: cover;

}
  
  .buyer-dashboard {
    width: 100vw;
    text-align: center;
  }
.log-info{
  display: flex;
  justify-content: space-between;
}
  .buyer-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
  }
.dash-logo{
    font-size: 2rem;
    color: whitesmoke;
    padding-left: 1rem;
    font-weight: 600;
}
.dash-info{
  font-size: 1.7rem;
    color:whitesmoke;
    font-weight: 500;
}

.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: whitesmoke;
  color: black;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}

  /* Card styles */
  .card-list {
    color: black;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr)); /* Adjust to display 4 cards per row */
    grid-gap: 20px; /* Spacing between cards */
  }
  
  .card {
    background-color: #fff;
    font-family: Poppins;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    
  }
  
  .card h2 {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
  }
  
  .card p {
    margin-bottom: 5px;
    font-weight: 600;
  }
  

  .buyer-dashboard {
    display: flex;
  }
  
  .input-box{
    color: black;
    margin: 5px 0;
    border-radius: 20px;
    padding: 0.5rem 0.5rem;
    text-align: center;
    background-color: whitesmoke;
  }

  .bid-btn{
    margin: 0.5rem 1rem;
    border-radius: 10px;
    padding: 0.6rem 0.7rem;
    color: whitesmoke;
    background-color: orange;
  }
.bid-btn:hover{
  background-color: purple;
}

  .buyer-nav {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    box-shadow: rgba(255, 255, 255, 0.444) 0px 7px 29px 0px;   
     width: 300px; /* Width of the sidebar */
    height: 600px;
    margin: 2rem 1rem;
    padding: 20px;
    border-radius: 15px;
  }
  
  .log-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 25px;
    height: 70px;
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(161, 161, 177, 0.2) 0px 7px 29px 0px;
    font-weight: 600;
  }
  .card-dashboard{
    box-shadow: rgba(255, 255, 255, 0.444) 0px 7px 29px 0px;   
    margin-right: 25px;
    padding: 1rem 1rem;
  }
  
  /* Adjustments for mobile responsiveness */
  @media (max-width: 768px) {
    .buyer-dashboard {
      flex-direction: column; /* Stack elements vertically on smaller screens */
    }
  
    .buyer-nav {
      width: 100%; /* Occupy full width in smaller screens */
    }
  }